html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  margin: auto;
  height: 100vh;
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 1.5em;
}

main {
  width: 100%;
  align-self: center;
}

svg {
  width: 90%;
  max-width: 400px;
  margin: auto;
}

.second,
.hour,
.minute {
  transform-origin: center;
}

.second {
  transform: rotate(var(--seconds));
}

.hour {
  transform: rotate(var(--hours));
}

.minute {
  transform: rotate(var(--minutes));
}

footer {
  margin-bottom: 1.5em;
  justify-self: center;
  font-size: 0.8rem;
  text-align: center;
}

footer img {
  width: 30px;
  transform: translateY(40%);
}
