html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
}

main {
  width: 100%;
}

svg {
  width: 90%;
  max-width: 400px;
  margin: auto;
}

.second,
.hour,
.minute {
  transform-origin: center;
}

.second {
  transform: rotate(var(--seconds));
}

.hour {
  transform: rotate(var(--hours));
}

.minute {
  transform: rotate(var(--minutes));
}

svg:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  top: 0;
  left: 50%;
  color: yellow;
}
